*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.box{
    color: white;
    height: 20%; 
    /* width: 100%; */
    text-align: center;
    width: 20%;
    position: relative;

}
.indigo{
    height: 100vh;
    background-color: black;
    width: 100vh;
    

    
}
.red{
    background-color: red;
    top: 0px;
    /* width: 60%;
    height: 40%; */
    /*this wont work unless the container box with is given */
    
}
.orange{
    background-color: orange;
    left: 0px;
    bottom: -60%;
    
    
    
}
.yellow{ 
    background-color: yellow;
    left: 80%;
    bottom:-40%;
    

    
}
.green{
    background-color: green;
    left: 80%;
    top: -60%;
    /* position: absolute; */

    
}
.blue{
    background-color: blue;
    left: 40%;
    top: -40%;

}
